openapi: 3.0.3
info:
  title: API Template
  version: 1.0.0
servers:
  - url: http://localhost:3000
paths:
  /auth/login:
    post:
      summary: Login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [identifier, password]
              properties:
                identifier: { type: string }
                password: { type: string, minLength: 6 }
      responses:
        "200":
          description: OK
        "401":
          description: Unauthorized
  /auth/register:
    post:
      summary: Register
      requestBody:
        required: true
        description: "Username and email are optional but its mandatory to use one of them."
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                username: { type: string, minLength: 2 }
                email: { type: string, format: email }
                password: { type: string, minLength: 6 }
      responses:
        "201":
          description: Created
